    .action-button {
        -fx-background-color: #4CAF50; /* Green */
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-padding: 10px 20px;
        -fx-border-radius: 5px; /* Border radius */
        -fx-background-radius: 20px; /* Background radius */
        -fx-background-size: 10px;
        -fx-min-width: 120px; /* Set the minimum width */
        -fx-min-height: 40px; /* Set the minimum height */
        -fx-border-width: 2px; /* Border width */
    }

    .action-button:hover {
        -fx-background-color: #45a049; /* Darker Green */
    }

    .action-button:pressed {
        -fx-background-color: #0d8a3f; /* Even Darker Green */
    }

    .button-panel {
        -fx-background-color: #656565;

    }
    .root {
        -fx-background-color: white,
        linear-gradient(from 0.5px 0.0px to 10.5px  0.0px, repeat, lightgrey 5%, transparent 5%),
        linear-gradient(from 0.0px 0.5px to  0.0px 10.5px, repeat, lightgrey 5%, transparent 5%);
    }
    /* Define style for delete button */
    .delete-button {
        -fx-background-color: #f44336; /* Red */
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-padding: 10px 20px;
        -fx-border-radius: 5px; /* Border radius */
        -fx-background-radius: 20px; /* Background radius */
        -fx-background-size: 10px;
        -fx-min-width: 120px; /* Set the minimum width */
        -fx-min-height: 40px; /* Set the minimum height */
        -fx-border-width: 2px; /* Border width */
    }

    /* Hover and pressed states for delete button */
    .delete-button:hover {
        -fx-background-color: #d32f2f; /* Darker Red */
    }

    .delete-button:pressed {
        -fx-background-color: #b71c1c; /* Even Darker Red */
    }

    .connect-button {
        -fx-background-color: #2196F3; /* Blue */
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-padding: 10px 20px;
        -fx-border-radius: 5px; /* Border radius */
        -fx-background-radius: 20px; /* Background radius */
        -fx-background-size: 10px;
        -fx-min-width: 120px; /* Set the minimum width */
        -fx-min-height: 40px; /* Set the minimum height */
        -fx-border-width: 2px; /* Border width */
    }

    .connect-button:hover {
        -fx-background-color: #1976D2; /* Darker Blue */
    }

    .connect-button:pressed {
        -fx-background-color: #0D47A1; /* Even Darker Blue */
    }
    .connect-button-clicked{
        -fx-background-color: #0D47A1;
    }




